* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(245, 248, 255);
}
.container {
  max-width: 1140px;
  margin: auto;
}
.display {
  display: flex;
  align-items: center;
}
.inter {
  font-family: "Inter", sans-serif;
}
.noto {
  font-family: "Noto Serif", serif;
}
.orange {
  color: #e95a08;
}
.color-1 {
  color: #000000;
}
.color-2 {
  color: #00000080;
}
.color-3 {
  color: #111111;
}
.color-4 {
  color: #ffffff;
}
/* nav section */
nav {
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 109px;
}
.nav-option {
  gap: 45px;
}
.nav-option li {
  list-style: none;
  color: black;
}
.nav-option li a {
  text-decoration: none;
  color: black;
}
/* hero section */
.hero {
  align-items: last baseline;
}
.hero-title {
  margin-bottom: 13px;
  font-family: Noto Serif;
  font-size: 4rem;
  font-weight: 700;
}
.hero p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}
/* our plants section */
.our-plants {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}
.our-plants h2 {
  font-family: Noto Serif;
  margin-bottom: 16px;
  font-size: 3.2rem;
  font-weight: 700;
}
.our-plants p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
}
/* card section */
.cards {
  width: 100%;
  height: 100%;
}
.cards h4 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}
.cards h3 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 30px;
}
.btn {
  width: 270px;
  height: auto;
  padding: 26px 50px 26px 50px;

  color: white;
  background-color: #e95a08;
  border: none;
  font-weight: 600;
}
.cards-box {
  gap: 40px;
  align-items: center;
  margin-bottom: 83px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}
/* brand */
.brand img {
  width: 286px;
  height: 286px;
}
.brand {
  text-align: center;
}
/* lover section */
.lover {
  justify-items: center;
  gap: 60px;
}
.lover-right h2 {
  color: rgb(0, 0, 0);
  font-family: Noto Serif;
  font-size: 3.2rem;
  font-weight: 700;
}
.lover-left img {
  width: 100%;
}
.lover-right ul {
  padding-left: 20px;
}
.lover-right ul li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 20px;
}
/* deals section */
.deals {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}
.deals h2 {
  font-family: Noto Serif;
  margin-bottom: 16px;
  font-size: 3.2rem;
  font-weight: 700;
}
.deals p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
}
/* discount section */
.discount-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  gap: 10px;
  margin: 40px auto;
  /* max-height: 423px; */
}
.pic-1 {
  grid-column: 1;
  grid-row: 1;
  background-image: url(assets/deal-bloom.png);
}
.pic-2 {
  grid-column: 1;
  grid-row: 2;
  background-image: url(assets/deal-ana.png);
}
.pic-3 {
  grid-column: 2;
  grid-row: 1 / span 2;
  background-image: url(assets/deal-zabo.png);
}

.card {
  position: relative;
  border-radius: 15px;
  color: white;
  padding: 30px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0px;
}

.card h4 a {
  font-size: 1rem;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 0px;
  display: inline-block;
}
/* join */
.btn-2 {
  width: 186px;
  height: 50px;
}
#input {
  width: 644px;
  height: 50px;
  padding: 8px 20px 8px 20px;
  border: none;
}
.join {
  max-width: 1440px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(assets/news-letter-bg.png);
  background-repeat: no-repeat;
  padding: 199px 305px;
  justify-content: center;
}
.join-in {
  display: flex;
  align-items: center;
}
.join-title {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 3.4rem;
  margin-bottom: 20px;
  font-weight: 700;
}
/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}
.foot-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.foot-3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.foot-4 {
  display: flex;
  gap: 15px;
}

.foot-3 a {
  text-decoration: none;
  color: #000000;
}
.foot-2 a {
  text-decoration: none;
  color: #000000;
}
.foot-4 {
  align-items: center;
  justify-content: center;
}
.Center {
  text-align: center;
}

@media (max-width: 567px) {
  .nav-option li a {
    display: none;
  }
  nav img {
    /* height: 63px; */
    width: 38px;
  }
  nav {
    margin-left: 20px;
    align-items: center;
    margin-left: none;
    padding-left: none;
    margin-right: 20px;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-right {
    margin-right: 0px;
  }
  .hero-right img {
    width: 100%;
    margin-right: 0px;
    position: right bottom;
    padding-right: 0px;
  }

  .hero-left {
    padding-left: 20px;
  }
  .hero-left h1,
  .our-plants h2,
  .lover-right h2,
  .deals h2 {
    font-size: 32px;
    margin-top: 20px;
  }
  .hero-left p,
  .our-plants p,
  .lover-right ul li,
  .deals p {
    font-size: 20px;
    margin-right: 10px;
  }
  .our-plants {
    align-items: center;
    justify-items: center;
  }
  .cards-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 100%; */
    width: auto;
    height: auto;
  }
  .btn {
    max-width: 171px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cards img {
    width: 100%;
  }
  .cards {
    width: auto;
    height: auto;
  }
  .brand {
    display: none;
  }
  /* lover */
  .lover {
    flex-direction: column;
  }
  .lover-left {
    /* padding-left: 10px;
    padding-right: 10px; */
  }
  /*  */

  /* discount */

  .discount-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .pic-1,
  .pic-2,
  .pic-3 {
    grid-column: auto;
    grid-row: auto;
  }

  .card {
    height: auto;
  }
  .join {
    background-size: 100%;
    padding: 30px;
  }
  .join-title {
    font-size: 20px;
    width: 235px;
    height: 27px;
  }
  .join-in {
    width: 321px;
  }
  .btn-2 {
    padding: 20px 20px 20px 20px;
    width: 103px;
    height: 50px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .foot-1 p {
    margin-top: 20px;
  }
  .Center {
    text-align: center;
  }
}
