* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(245, 248, 255);
}
.container {
  max-width: 1140px;
  margin: auto;
}
.display {
  display: flex;
  align-items: center;
}
.inter {
  font-family: "Inter", sans-serif;
}
.noto {
  font-family: "Noto Serif", serif;
}
.orange {
  color: #e95a08;
}
.color-1 {
  color: #000000;
}
.color-2 {
  color: #00000080;
}
.color-3 {
  color: #111111;
}
.color-4 {
  color: #ffffff;
}
/* nav section */
nav {
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 109px;
}
.nav-option {
  gap: 45px;
}
.nav-option li {
  list-style: none;
  color: black;
}
.nav-option li a {
  text-decoration: none;
  color: black;
}
/* hero section */
.hero {
  align-items: last baseline;
}
.hero-title {
  margin-bottom: 13px;
  font-family: Noto Serif;
  font-size: 4rem;
  font-weight: 700;
}
.hero p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}
/* our plants section */
.our-plants {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}
.our-plants h2 {
  font-family: Noto Serif;
  margin-bottom: 16px;
  font-size: 3.2rem;
  font-weight: 700;
}
.our-plants p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
}
/* card section */
.card {
  width: 270px;
  height: 484.94px;
}
.card h4 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
}
.card h3 {
  color: rgb(17, 17, 17);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 30px;
}
.btn {
  width: 270px;
  height: 50px;
  padding: 26px 50px 26px 50px;

  color: white;
  background-color: #e95a08;
  border: none;
  font-weight: 600;
}
.cards-box {
  gap: 40px;
  align-items: center;
  margin-bottom: 83px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}

@media (max-width: 567px) {
  .nav-option li a {
    display: none;
  }
  nav img {
    /* height: 63px; */
    width: 38px;
  }
  nav {
    margin-left: 20px;
    align-items: center;
    margin-left: none;
    padding-left: none;
    margin-right: 20px;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero-right {
    margin-right: 0px;
  }
  .hero-right img {
    width: 100%;
    margin-right: 0px;
    position: right bottom;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  .our-plants {
    align-items: center;
    justify-items: center;
  }
  .hero-left {
    padding-left: 20px;
  }
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: calc(50%-20);
  }
  .card img {
  }
}
